<div class="container">
  <div class="row">
    
    <div class="col-md-6 poster">
      <img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/savoy%201000%20years%20poster%201_zps4x6tzwm9.jpg" border="0" alt=" photo savoy 1000 years poster_zpsycsd9txm.jpg" height="612px" width="392.5px"/>
    
      <h3>SAVOY WINTER TOUR</h3>
<!--       <a href="http://savoyband.com" target="_blank"><div align="center" class="tour-btn">
        Tickets On Sale Now!
        </div></a> -->
      <h4>Tickets On-Sale Friday, Nov. 20th</h4>
    </div>
    
    <div class="col-md-6 poster">
      <a href="https://itunes.apple.com/us/album/1000-years-ep/id1058110230" target="_blank"><img src="http://i1293.photobucket.com/albums/b596/wlkngmachine/savoy%201000%20years%20web_zpssxi2jpat.jpg" border="0" alt=" photo savoy 1000 years web_zpssxi2jpat.jpg" height="392.5" width="392.5"/></a>
      <br/>
      <h3>
        1000 Years EP out December 2nd, 2015
      </h3>
      
       <a href="https://itunes.apple.com/us/album/1000-years-ep/id1058110230" target="_blank"><div align="center" class="ep-btn">
          Pre-Order
          </div>
      </a>
      
      
      <ul class="clock text-center">
        <li class="less-padding">
            <span class="days">00</span>
            <p class="days_ref">days</p>
        </li>
        
        <li class="less-padding">
            <span class="hours">00</span>
            <p class="hours_ref">hours</p>
        </li>
        
        <li class="less-padding">
            <span class="minutes">00</span>
            <p class="minutes_ref">minutes</p>
        </li>
        
        <li>
            <span class="seconds">00</span>
            <p class="seconds_ref">seconds</p>
        </li>
    </ul>
      
    </div>
    
  </div>
</div>
