<div class="conatiner">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      
      <%= image_tag "Shots_Remix.jpg" %>
      
      <h3>Thanks! Here is your download link: </h3>
      
      
      <%= link_to "Download Remix", "http://download1512.mediafire.com/19xcq8u5autg/cxil88bf8xvus1r/Imagine+Dragons+-+Shots+%28SAVOY+%26+Summer+Was+Fun+Remix%29.mp3", class: "btn btn-shots" %>
  
    </div>
  </div>
</div>